:host {
  display: block;
  position: fixed;
  top: 0; /* Устанавливаем положение сверху */
  left: 0;
  width: 100%;
  z-index: 1000; /* Убедитесь, что у хедера высокий z-index */
  background-color: #001f3f; /* Темно-синий цвет для фона хедера */
  color: white; /* Цвет текста для хедера */
  padding: 14px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0; /* Убираем возможные отступы */
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.toolbar span {
  font-size: 24px;
  font-weight: bold;
}

.youtube-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-right: 20px; /* Добавлено для YouTube ссылки */
}

.youtube-logo {
  height: 24px; /* Высота логотипа YouTube */
  width: 24px; /* Ширина логотипа YouTube */
  display: inline-block; /* Убедитесь, что элемент отображается */
  margin-left: 40px; /* Смещение логотипа */
}
