:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #001f3f; /* Темно-синий цвет для фона хедера */
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.toolbar span {
  font-size: 24px;
  font-weight: bold;
}

.youtube-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.youtube-logo {
  height: 24px;
  width: 24px;
  display: inline-block; /* Убедитесь, что элемент отображается */
}


